/*.navbar {
  background-color: #eceaea;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}*/
.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
}
.nav-menu {
  background-color: #eceaea;
  width: 220px;
  /*
  first it was 
  height: 1000vh;
  position: fixed;
  display: flex;*/

  /*height: 100vw;
  height: 100vh;
  padding-bottom: 150%;
  margin-top: 0;
  display: flex;
  position: fixed;
  /*position: absolute;*/
  height: 100%;
  position: fixed;
  z-index: 1;
  top: inherit;
  left: 0;
  overflow-x: hidden;

  /*not to be on top of items + have top = 0 */

  transition: 850ms;
}
.nav-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  /*padding: 9px 10px 0px 0px;*/
  list-style: none;
  height: 60px;
}
.nav-text a {
  text-decoration: none;
  color: #222;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}
.nav-text a:hover {
  background-color: #e2b932;
}

.nav-menu-items {
  width: 100%;
}
.navbar-toggle {
  background-color: lightsalmon;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
span {
  margin-left: 16px;
}
